body {
  background-color: #008060;
  text-align: center;
}

h1 {
  color: white;
}

.question h2 {
  color: white;
  margin-top: 5%;
}

input {
  background-color: #f0f8ff;
}

.answers {
  width: 75%;
  margin: auto;
}

.answers div {
  padding: 1%;
  margin: 1%;
  border-radius: 0.7rem;
}

.odd {
  background-color: #fdf5e6;
}

.even {
  background-color: #f0f8ff;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}
